*{
	font-family: Helvetica;
	color: white;
}

h1{
	font-size: 10vw;
}

a{
	color:white;
	/*opacity: 0.9;*/
	text-decoration: none;
	font-size: 1em;
}
a:hover{
	color:white;
	opacity: 1;
	text-decoration: underline;
}

.one{
	background-color: #4CBD9A;
}

.two{
	background-color: #FDB734;
}

.three{
	background-color: #ED5555;
}

.four{
	background-color: #1693A5;
}

.five{
	background-color: #81506E;
}

.sixx{
	background-color: #FBD783;
}

.seven{
	background-color: #B49BBD;
}
