*{
	font-family: Helvetica;
	color: white;
}

h1{
	font-size: 10vw;
}

a{
	color:white;
	/*opacity: 0.9;*/
	text-decoration: none;
	font-size: 1em;
}
a:hover{
	color:white;
	opacity: 1;
	text-decoration: underline;
}

.one{
	background-color: #4CBD9A;
}

.two{
	background-color: #FDB734;
}

.three{
	background-color: #ED5555;
}

.for{
	background-color: #1693A5;
}

.five{
	background-color: #81506E;
}

.four-two{
    background-color: #fa9151;
}

.sixx{
	background-color: #FBD783;
}

.seven{
	background-color: #B49BBD;
}



.img{
    height: 20rem; width: 20rem;
    /*opacity: .7;*/
    margin-top: 1rem;
    margin-bottom: 1rem;

    border: 3px solid white;
}
.circle {
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    border-radius: 10rem;
    /* border:1px solid #aaaaaa; */
    /* border: 1px solid #aaaaaa; */
    width:20rem;
    height:20rem;

   }
.img:hover {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    background:#f287bd;
    opacity: 1;

    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    border-radius: 2rem;
    /* border:1px solid #aaaaaa; */
    width:22rem;
    height:22rem
}




